/* Start of Reset Code */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img { -ms-interpolation-mode:bicubic; }

/* end of reset code */

body {
  margin:0;  
  color:#691EFF;
}

div.noscript {
	width:80%;	
	border:5px red solid;
	color:red;
	font-weight:bold;
	font-size:1.2em;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

a:link, a:visited, span.link_span {
	color:#691eff;
	text-decoration:underline;	
}

a:hover, span.link_span:hover {
	text-decoration:none;
	color:#A5FF38;	
	cursor:pointer;
}

div.user_box a:hover {
	color:#691eff;
}

div.header{  
  margin:0%;
  padding:0%;
}

div.user_box {
  position:fixed;
  /*top:10px;*/
  right:0%;
  min-width:10%;
  font-size:.8em;
  background-color:#A5FF38;
  color:#7f70b7;
  border-style:solid;
  border-width:1px;
  padding-right:10px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:3px;
}
div.user_box span1{
  color:#691EFF;
  font-size:1.25em;
  font-weight:bold;
}
div.user_box table{
  font-size:1em;
  padding:0px;
  border-width:0px;
  line-height:.8em;
  margin:0 0 0 1em;
}
div.user_box TD#type2{
  font-size:1.2em;
  font-weight:bold;
}

div.side_menu {

  float:left;
  margin-top:20px;
  /*border-style:solid;
  border-width:1px;*/
  color:#691EFF;
  padding-right:10px;
  padding-left:10px;

}
div.side_menu ul {
  list-style-type:none;
  border-left-style:solid;
  border-bottom-style:solid;
  /*border-top-style:solid;*/
  border-width:1px;
  padding:1em;
}
div.side_menu li {
 padding-top:5px;
}

div.main_content {
  margin-top:20px;
  margin-bottom:20px;
  padding-left:5px;  
  width:90%;
  float: left;
  border-left-style:solid;
  border-right-style:solid;
  border-width:1px;
}

div.main_page_login {
	font-size:.7em;
	float:left;
	background-color:#D2FF9C;
}

.player_list {
	float:right;
	width:15%;	
	/*border-right-style:solid;
	border-width:1px;*/
	padding:0px 0px 10px 0px;
}

.players {
	margin:15px 0px;
}

.player {
	border-color:#691EFF;
	border-left-style:dashed;
	border-top-style:dashed;
	border-bottom-style:dashed;
	border-width:1px;
	/*width:68%;*/
	background:#A5FF38;
	text-align:center;	
	padding: 3px 3px 3px 3px;
	margin: 5px 0px 5px 5px;
}
.player:hover {
	border-left-style:solid;
	border-top-style:solid;
	border-bottom-style:solid;
	background:#D2FF9C;
}

.dealer {
	background:#87BBFF;
	font-weight:bold;
}

.dealer:hover
{
	background:#BFDAFF;
}

.cur_player {
	background: #F0FF23;
	font-weight:bold;
}

.cur_player:hover
{
	background: #F9FFAD;
}

.player_drinks
{
	float:left;
	font-size:.7em;
	font-weight:normal;
}

.player_percentage
{
	float:right;
	font-size:.6em;	
	font-weight:normal;
}

#no_players {
	font-style:italic;
	padding:10px 0px 15px;
}

#show_hide_new_player_name {
	float:right;
	background:#691EFF;
	color:#a5ff38;
	padding:2px 4px;
}

#show_hide_new_player_name:hover {
	color:#691EFF;
	background:#a5ff38;
	font-weight:bold;	
	cursor:pointer;

}

#new_player_name {
	border-right-style:none;
	float:right;
}

input.text {
	border:1px solid #691EFF;
	background: #D2FF9C;
	color:#691EFF;
}

input.button {
	color: #D2FF9C;
	background-color:#691EFF;
	
}
input.button:hover {
	
	color:#691EFF;	
}

.error_message {
	text-size:.85em;
	background:#FF87B7;
	padding:3px 3px 3px 3px;
}

.error_message_holder {
	color:#fff;
	background:#fff;
	border:none;
	padding:3px 3px 3px 3px;
}

.big-middle {
	text-align:center;	
	margin:25px 0px;
	width:100%;
	font-size:1.5em;
}

#table {	
	float:left;	
	width:80%;
	padding:.5% 0%;
	background-color: #D2FF9C;	
	
	margin-left:.5em;
}

.card_container {
	float:left;
	text-align:center;
	width:6.1%;	
	margin:.5% .5% .5% .5%;
}

.card {
	width:100%;
	height:1em;
	margin:.25em 0em;
	padding:.25em 0em;
	background:;
	border:1px solid #691eff;
}

.card:hover {
	color:#a5ff38;
	background:#691eff;
	border:1px solid #a5ff38;
}

.spacer {
	width:1px;
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
	background:none;
	border: none;
}

#gets {
	margin-left:5em;
	padding:.2em .2em;	
}

.big_words {
	font-weight:bold;
	font-size:2em;
}

#status 
{
	border:1px solid #a5ff38;
	height:7em;
	width:25em;
	overflow:auto;
}

.new_status
{
	font-weight:bold;
}